.App {
  position: relative;
  height: 100vh;
  background-color: rgba(2, 60, 17, 0.4);
  display: grid;
  grid-template-areas:
    "header header"
    "board score";
  grid-template-rows: 10rem max-content;
  grid-template-columns: max-content 1fr;
  gap: 2rem;
  padding: 2rem 4rem;
}

.App > header {
  grid-area: header;
}
.board {
  grid-area: board;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 42px;
}
.board img {
  width: 12rem;
  height: auto;
  transition: all 0.2s ease;
}
.board img:hover {
  cursor: pointer;
  transform: translateY(-0.4rem) scale(1.04);
}
.App .score {
  margin-top: 3rem;
  grid-area: score;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: start;
}
.score .bestScore {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
}
.bestScore > img {
  width: 14.625rem;
}
.bestScore #bestScore {
  width: 2rem;
}

.winHidden {
  visibility: hidden;
}
.winVisible {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff33;
  z-index: 10;
}
